@charset "UTF 8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte1: 'Dancing Script', cursive;
    --fonte2: 'Josefin Sans', sans-serif;
}

body {
    background-image: url(fotos/fundo2.jpg);
    background-attachmeaunt: fixed;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: round;
    box-shadow: 1px 1px 15px;
    height: auto;
    width: auto;
    border-radius: 5px;
    padding: 0px;
    margin: 0px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: right center;
    font-family: var(--fonte1);
    color: rgb(199, 15, 15);
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 0px white;
    padding: 60px 100px;
    margin: 0px;
    border-radius: 5px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

article {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: var(--fonte2);
    font-size: 1em;
    text-align: center;
    padding: 20px 80px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
    border: 0px solid rgba(5, 5, 5, 0.1);
    border-radius: 0px 5px;
    outline-width: 10px;
    outline-style: none;
    margin: 0px 0px;
    
}

article > a {
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.3s;
}

article > a:hover {
    background-color: var(--cor0);
    color: var(--cor0);
}

h2 {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte2);
    font-size: 3em;
    height: center;
    width: center;
    color: white;
    text-align: center;
    border-radius: 5px;
    outline-width: 10px;
    outline-style: none;
    padding: 40px;
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte2);
    font-size: 2em;
    height: center;
    width: center;
    color: white;
    text-align: center;
    border-radius: 5px;
    outline-width: 10px;
    outline-style: none;
    padding: 40px;
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte2);
    font-size: 2.3em;
    text-align: center;
    border-radius: 5px;
    outline-width: 10px;
    outline-style: none;
    padding: 40px;
    margin: 70px;   
    height: center;
    width: center;
}

nav  {
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.3s;
}

nav:hover {
    background-color: var(--cor0);
    color: var(--cor0);
}

aside {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 7px 7px rgba(0, 0, 0, 0.5);
    font-family: var(--fonte2);
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px;
    outline-width: 10px;
    outline-style: none;
    padding: 40px;
    margin: 70px;  
    height: center;
    width: center;  
    display: flex;
    justify-content: center;
    align-items: center;
    
}

aside {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.3s;
}

aside:hover {
    background-color: var(--cor0);
    color: var(--cor0);
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 6);
    font-style: italic;
    text-decoration: none;
    padding: 0px;
}

